body, html {
    margin:0;
    padding:0;
    background-color:white
}

@media only screen and (min-device-width: 480px) {

}

@media only screen and (min-device-width: 768px) {
    #container {
        box-sizing:border-box;
        padding:25px;
        width: 400px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 40%;
        margin: -100px 0 0 -200px;
        background-color:white;
        border-radius:5px;
        box-shadow: 2px 15px 35px #888;
    }
}
