@import url(http://fonts.googleapis.com/css?family=Denk+One|Istok+Web);
body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Istok Web', sans-serif;
  font-size: 15px;
}
@media only screen and (min-device-width: 480px) {
  
}
@media only screen and (min-device-width: 768px) {
  #container {
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin: -5% 0 0 -400px;
    background-color: white;
  }
  #container div.one,
  #container div.two,
  #container div.three {
    text-align: right;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 10px;
    float: left;
    margin-right: 25px;
    width: 250px;
    height: 120px;
  }
  #container div.one input[type=number],
  #container div.two input[type=number],
  #container div.three input[type=number],
  #container div.one input[type=time],
  #container div.two input[type=time],
  #container div.three input[type=time] {
    width: 85px;
    font-family: 'Istok Web', sans-serif;
    font-size: 18px;
  }
  #container div.one {
    box-shadow: -2px 10px 35px #888888;
  }
  #container div.two {
    box-shadow: 0px 10px 35px #888;
  }
  #container div.three {
    box-shadow: 2px 10px 35px #888;
    margin-right: 0;
  }
  #container div.result {
    box-sizing: border-box;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    margin-top: 175px;
    clear: both;
    box-shadow: 0px 10px 35px #888;
    text-align: center;
    height: 150px;
    font-size: 25px;
    line-height: 35px;
  }
  #container div.result #waste {
    font-family: 'Denk One', sans-serif;
  }
}
